.div-block {
  background-color: #272222;
}

.body {
  background-color: #2e2e2e;
  background-image: url('../images/google-paying-users.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.userimage {
  position: relative;
  right: 0px;
  display: inline-block;
  overflow: visible;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  border: 1px none #000;
  border-radius: 1000px;
  opacity: 1;
  -webkit-transform: translate(0px, 29px);
  -ms-transform: translate(0px, 29px);
  transform: translate(0px, 29px);
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.container {
  text-align: center;
}

.div-block-2 {
  position: relative;
  width: 50%;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  background-color: #212121;
}

.image {
  margin-top: 0px;
  margin-left: 20px;
  padding-left: 0px;
  border-radius: 1000px;
}

.div-block-3 {
  position: relative;
  z-index: 1;
  display: block;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  overflow: visible;
  width: 100%;
  padding-bottom: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  text-align: center;
}

.text-block {
  padding-top: 0px;
  color: #dcdcdc;
}

.button {
  position: static;
  overflow: visible;
  width: 50%;
  border-radius: 20px;
}

.container-2 {
  position: relative;
  z-index: -1;
  padding-bottom: 25px;
  border-radius: 20px;
  background-color: #212121;
  opacity: 0.95;
}

.text-block-2 {
  margin-top: 0px;
  padding-top: 40px;
  font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
  font-size: 20px;
}

.text-block-3 {
  color: #fff;
}

.text-block-4 {
  color: #fff;
}

.text-block-2-copy {
  overflow: auto;
  margin-top: 0px;
  padding-top: 20px;
  font-family: Bitter, serif;
  color: #fff;
  font-size: 20px;
}

.submit-button {
  border-radius: 6px;
  opacity: 1;
}

.success-message {
  background-color: #b2ffb9;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  text-align: right;
}

.button-3 {
  display: inline-block;
  margin-top: 0px;
  margin-right: 20px;
  padding-left: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 6px;
  background-color: transparent;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.button-3.button4 {
  margin-right: 0px;
}

.column {
  margin-top: 20px;
  text-align: right;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.button4 {
  display: block;
  margin-right: 0px;
  margin-left: 66px;
  border-radius: 5px;
  background-color: rgba(206, 63, 58, 0.88);
  font-family: Bitter, serif;
  font-size: 17px;
}

.columns-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #6f41d3;
  font-family: Bitter, serif;
  font-size: 17px;
}

.columns-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #8656ff;
}

.div-block-4 {
  position: relative;
  z-index: 0;
}

.container-3 {
  margin-top: 20px;
  border-radius: 11px;
  background-color: #3d3939;
}

.div-block-5 {
  margin-right: 20px;
  margin-left: 20px;
}

.field-label {
  margin-top: 15px;
  color: #fff;
}

@media (max-width: 991px) {
  .div-block-2 {
    position: static;
  }
}