<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>
<div class="bg" style="min-height: 100vh;">
  <div class="container-fluid">
    <a class="navbar-brand" href=<%- rootUrl -%>>
      <img src="./../images/logo.svg" class="float-left img-fluid image-cropper" style="width: 5rem; margin: 2rem;">
    </a>
  </div>

  <div class="center-screen" style="min-height: 50vh;">
    <div class="card text-center text-white bg-dark mb-4 mx-auto h4"
      style="display: flex;justify-content: center;">
      <div class="card-header">
        <b>Login with Discord</b>
      </div>
      <div class="card-body">
        <a href='/login' class="btn" style="background-color: #2C2F33;"><img src="../images/discord.png"
            width="180rem" /></a>
      </div>
    </div>
  </div>
</div>
      <% include ../partials/footer %>

</html>