<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>
<br>
<font size="+2">
    <div class="alert alert-success" role="alert">

    <div class="container">
        <% values.forEach(function(value) { %>
        <div class="row">
            <div class="col-sm">
                <%= value.key %></div>
            <div class="col-sm">
                <%= value.value %>
                /div>
            </div>
        </div>

            <% }); %>
    </div></div>

        <br>
</font>
<footer>
    <font size="+2">

        <% include ../partials/footer %>
    </font>
</footer>

</html>