<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>
<div class="bg" style="min-height: 100vh;">
    <br>
    
    <div class="table-responsive" style="border: none;">

    <table style="margin-top: 1rem;width: 90%;  margin: auto;text-align: center;" class="table table-hover table-dark h5 table-curved">
        <thead>
            <tr style="border-top: none;">
                <th scope="col">#</th>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
        <% values.forEach(function(value) { %>
        <tr>
            <th scope="row"><%= value.index %></th>
            <th><%= value.key %></th>
            <th><%= value.value %></th>
        </tr>
        <% }); %>
        </tbody>
    </table>
    </div>
    <% include ../partials/footer %>
</div>
</html>