<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>
<br>
<font size="+2">

    <table style="border:1px solid black;margin-left:auto;margin-right:auto;" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
        <% values.forEach(function(value) { %>
            <tr>
            <th scope="row"><%= value.key %></th>
            <th><%= value.value %></th>
        </tr>
        <% }); %>
        </tbody>
    </table>
    <br>
</font>
<footer>
        <font size="+2">

    <% include ../partials/footer %>
        </font>
</footer>

</html>