<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <title> 
    Error
  </title>
</head>
<div class="bg" style="min-height: 100vh;">
  <% include ../partials/user_nav %>

  <div class="center-screen" style="min-height: 50vh;">
    <div class="card text-center text-white bg-dark mb-4 mx-auto"
      style="display: flex;justify-content: center;">
      <div class="card-header  h1">
        <b>Success!</b>
      </div>
      <div class="card-body h3">
        Please check your email for your key!
      </div>
    </div>
  </div>
</div>
      <% include ../partials/footer %>

</html>