<html>
    <body>
        Thank you for your purchase!<br>
        This is your key: <b><%= token %></b>
        <br>
        Please redeem it at <%= hostname %>
    </body>
    <footer>
    </footer>
</html>