<!-- views/partials/footer.ejs -->
<footer class="bg-dark">
<section class="copyright py-4 text-center text-white bg-dark">
    <div class="container footer h4 bg-dark" style="text-align: center;height: 50vmin;padding: 1rem;">
      <small>Copyright &copy; ReachedIO 2019</small>
    </div>
  </section>
</footer>