<!-- views/partials/head.ejs -->

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body {
        padding-top: 50px;
    }
    table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 15px;
}
table {
  border-spacing: 5px;
}
</style>

<!-- Main Page -->
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Reached IO</title>

<!-- Custom fonts for this theme -->
<link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<!-- Theme CSS -->
<link href="../css/freelancer.min.css" rel="stylesheet">

<style>
    .image-cropper {
        width: auto;
        height: auto;
        position: relative;
        overflow: visible;
        border-radius: 100%;
    }
</style>
<style>
    #ip2 {
        border-radius: 10px;
        border: 2px solid #2C3E50;
        padding: 20px;
        width: 300px;
        height: 15px;
    }
</style>
<style>
    #ip3 {
        border-radius: 10px;
        border: 2px solid #2C3E50;
        padding: 20px;
        width: auto;

    }
</style>
<style>
    #myform {
        border-radius: 10px;
        border: 2px solid #2C3E50;
        padding: 20px;
        width: auto;
        height: auto;
    }
</style>

<style>
    .center {
        margin: auto;
        width: 50%;
        height: auto;
        text-align: center;
    }
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143775012-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-143775012-1');
</script>